<template>
  <div id="about">
    <div class="about-cont" data-aos="zoom-in">
      <p class="title">{{ $t("index.about_page.title") }} </p>
      <p class="info">{{ $t("index.about_page.info") }}
      </p>
      <p class="info info-center">{{ $t("index.about_page.secondary") }}</p>
      <p class="info"> {{ $t("index.about_page.end") }}</p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
</style>