<template>
  <div id="footer">
    <div class="_cont_small">
      <p data-aos="zoom-in" class="title">{{ $t("contacts") }}</p>
      <p data-aos="zoom-in" class="info">{{ $t("fun") }}</p>
      <button data-aos="zoom-in" @click="
        MANAGE_MODAL({
          name: 'contacts',
        })
      ">{{ $t("getContacts") }}</button>
      <div class="_grid">
        <a data-aos="zoom-in" href="http://gitlab.com/FirdavsiFlash" target="_blank" rel="noopener noreferrer">
          <img src="~/assets/images/gitlab.svg" alt="">
        </a>
        <a data-aos="zoom-in" href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer">
          <img src="~/assets/images/telegram.svg" alt="">
        </a>
        <a data-aos="zoom-in" href="https://www.instagram.com/nef1rdavs1/" target="_blank" rel="noopener noreferrer">
          <img src="~/assets/images/instagram.svg" alt="">
        </a>
        <a data-aos="zoom-in" href="" >
          <img  src="~/assets/images/facebook.svg" alt="">
        </a>
      </div>
      <p data-aos="zoom-in" class="info-soc">
        {{ $t("likeMe") }}<br>
        <a href="https://www.instagram.com/nef1rdavs1/" target="_blank" rel="noopener noreferrer">Instagram</a> , <a
          href="http://gitlab.com/FirdavsiFlash" target="_blank" rel="noopener noreferrer">Gitlab</a>
      </p>
    </div>
  </div>
</template>

<script>
import "~/assets/css/footer.css";
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
  computed: {
    ...mapGetters(["modals"]),
  },
  methods: {
    ...mapMutations(["MANAGE_MODAL", "CLOSE_ALL_MODALS"]),
  },
}
</script>

<style>
</style>