<template>
    <div id="template-modals">
        <transition name="fade">
            <div id="mobile-menu" v-show="modals.mobile_menu.status">
                <div class="links-list">
                    <div class="_flex">
                        <div class="left">
                            <p class="_list" @click="CLOSE_ALL_MODALS()">
                                <a href="#top" v-smooth-scroll="{ duration: 500, offset: 0 }">{{
                                        $t("home")
                                }}</a>
                            </p>
                            <p class="_list" @click="CLOSE_ALL_MODALS()"> <a href="#about"
                                    v-smooth-scroll="{ duration: 500, offset: 0 }">{{ $t("about") }}
                                </a> </p>
                            <p class="_list" @click="CLOSE_ALL_MODALS()"> <a href="#skils"
                                    v-smooth-scroll="{ duration: 500, offset: 0 }">{{ $t("skils") }}</a>
                            </p>
                            <p class="_list" @click="CLOSE_ALL_MODALS()"> <a href="#portfolio"
                                    v-smooth-scroll="{ duration: 500, offset: 0 }">{{ $t("portfolio")
                                    }}</a> </p>
                            <p @click="
                                MANAGE_MODAL({
                                    name: 'contacts',
                                })
                            " class="_list">{{ $t("contacts") }}</p>

                            <p class="_list">
                                <nuxt-link :to="switchLocalePath('en')">ENG </nuxt-link>|
                                <nuxt-link :to="switchLocalePath('ru')">RU</nuxt-link>
                            </p>
                        </div>
                        <div class="right">
                            <img @click="
                                MANAGE_MODAL({
                                    name: 'mobile_menu',
                                })
                            " class="_close_icon" src="~/assets/images/close.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="bg" @click="
                MANAGE_MODAL({
                    name: 'contacts',
                })
            " v-show="modals.contacts.status"></div>
        </transition>

        <transition name="fade">
            <div id="modal_contacts" v-show="modals.contacts.status">
                <div v-show="this.modals.contacts.status" class="_form_modal">
                    <input type="hidden" name="form-name" value="contact">
                    <p class="_h3">{{ $t("myContacts") }}</p>
                    <a href="tel:+998990355542">
                        <p class="_text">99 035-55-42</p>
                    </a>
                    <p class="_p _grey">{{ $t("callMe") }}</p>
                    <div class="icons">
                        <a href="http://gitlab.com/FirdavsiFlash" target="_blank" rel="noopener noreferrer">
                            <img src="~/assets/images/gitlab.svg" alt="">
                        </a>
                        <a href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer">
                            <img src="~/assets/images/telegram.svg" alt="">
                        </a>
                        <a href="https://www.instagram.com/nef1rdavs1/" target="_blank" rel="noopener noreferrer">
                            <img src="~/assets/images/instagram.svg" alt="">
                        </a>
                        <a href="">
                            <img src="~/assets/images/facebook.svg" alt="">
                        </a>
                        <a href="">
                            <img src="~/assets/images/linkidn.svg" alt="">
                        </a>
                        <a href="">
                            <img src="~/assets/images/vk.svg" alt="">
                        </a>
                    </div>
                    <button>
                        <a href="https://forms.gle/XUKBwNaJJzBkjmXAA">
                            {{ $t("rest") }}
                        </a>
                    </button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import "~/assets/css/modals.css"
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
    computed: {
        ...mapGetters(["modals"]),
    },
    methods: {
        ...mapMutations(["MANAGE_MODAL", "CLOSE_ALL_MODALS"]),
    },
};
</script>

<style>
</style>
