<template>
  <div id="skils">
    <div class="_cont_small" v-if="this.AllData.AllProjects.data.length > 0">
      <p class="title"> {{ $t("skils") }} </p>
      <p> {{ $t("stak") }} </p>
      <div class="_grid">
        <div data-aos="zoom-in" class="card" v-for="index in toshow" :key="index.id">
          <img :src="AllData.AllProjects.data[index - 1].icon" alt="" class="icon">
          <p>{{ AllData.AllProjects.data[index - 1].title.toUpperCase() }}</p>
        </div>
      </div>
      <button v-if="this.toshow < this.AllData.AllProjects.data.length" @click="Toogle()">{{ $t("btnShow") }}</button>
      <button v-else @click="Toogle()">{{ $t("btnHide") }}</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      toshow: 4,
      total: 0
    }
  },
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    Toogle() {
      if (this.toshow == this.AllData.AllProjects.data.length) {
        this.toshow = 0
      }
      if (this.toshow < this.AllData.AllProjects.data.length) {
        this.toshow += 4
        if (this.toshow > this.AllData.AllProjects.data.length) {
          this.toshow = this.AllData.AllProjects.data.length
          return
        }
      }
      console.log(this.toshow);
      console.log(this.AllData.AllProjects.data.length);
    }
  },
  mounted() {
    this.total = this.AllData.AllProjects.data

  }
};
</script>

<style>
</style>