<template>

  <div class="bg-secondary-light dark:bg-primary-dark min-h-screen flex flex-col">
    <client-only>
      <Header />
      <Modals />
      <transition name="fade">
        <Nuxt />
      </transition>
      <Footer />
    </client-only>
  </div>
</template>

<script>
// import "~/assets/css/app.css"
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";
import "~/assets/css/library.css"
import "~/assets/css/media.css"
import "~/assets/fonts/stylesheet.css"


export default {
  components: { Header, Footer },

}
</script>

<style>
</style>