<template>
  <div v-show="toggle" id="index-page">
    <div class="_cont" id="top">
      <div style="display: none" class="_flex">
        <div>
          <p @click="GetData(['AllProjects'])" class="title" id="shit">

            {{ $t("name") }}<br> {{ $t("secondName") }}</p>
        </div>
        <div>
          <p class="about">{{ $t("index.top.about.part1") }} <br> {{ $t("index.top.about.part2") }}</p>
        </div>
        <p class="lang">
          <nuxt-link :to="switchLocalePath('en')">ENG </nuxt-link>|
          <nuxt-link :to="switchLocalePath('ru')">RU</nuxt-link>
        </p>
        <img @click="
          MANAGE_MODAL({
            name: 'mobile_menu',
          })
        " src="~/assets/images/burger.svg" class="burger" alt="">

      </div>
      <div id="mobile_header" class="_flex">
        <img src="~/assets/images/mobileicon.svg" class="logo" alt="">
        <p>
          <nuxt-link :to="switchLocalePath('en')">ENG </nuxt-link>|
          <nuxt-link :to="switchLocalePath('ru')">RU</nuxt-link>
        </p>
        <img @click="
          MANAGE_MODAL({
            name: 'mobile_menu',
          })
        " src="~/assets/images/burger.svg" class="burger" alt="">
      </div>
      <!-- <div class="mobile_index">
        <img src="~/assets/images/logo.svg" alt="">
         <p class="lang">
          <nuxt-link :to="switchLocalePath('en')">ENG </nuxt-link>|
          <nuxt-link :to="switchLocalePath('ru')">RU</nuxt-link>
        </p>
      </div>
      <img  src="~/assets/images/developer.svg" class="main-img md:w-2/3" alt=""> -->
      <!-- <img class="main-img" src="~/assets/images/photo.jpg" alt=""> -->
      <section class="
      flex flex-col
      sm:justify-between
      items-center
      sm:flex-row
      mt-12
      sm:mt-10
    ">
        <!-- Banner left contents -->
        <div class="w-full md:w-1/3 text-left">
          <h1 class="
          font-general-semibold
          text-3xl
          md:text-3xl
          xl:text-4xl
          text-center
          sm:text-left
          text-ternary-dark
          dark:text-primary-light
          uppercase
        ">
            {{ $t("begining") }}
          </h1>
          <p class="
          font-general-medium
          mt-2
          text-lg
          sm:text-xl
          xl:text-2xl
          text-center
          sm:text-left
          leading-none
          text-gray-700
        ">
            {{ $t("me") }}
          </p>
          <div class="flex justify-center sm:block">
            <p class="
            flex
            justify-center
            items-center
            w-36
            sm:w-48
            mt-12
            mb-6
            sm:mb-0
            text-lg
            border border-indigo-200
            dark:border-ternary-dark
            py-2.5
            sm:py-3
            shadow-lg
            rounded-lg
            bg-indigo-50
            focus:ring-1 focus:ring-grey-900
            hover:bg-grey-900
            text-gray-900
            hover:text-black
            duration-500
            cursor-pointer
          " @click="
            MANAGE_MODAL({
              name: 'contacts',
            })
          ">
              <span class="text-sm sm:text-lg font-general-medium duration-100">{{ $t("contacts") }}</span>
            </p>
          </div>
        </div>

        <!-- Banner right illustration -->
        <div class="w-full md:w-2/3 text-right float-right">
          <!-- <img v-if="this.$colorMode.value == 'dark'" src="~/static/developer-dark.svg" alt="Developer Dark" /> -->
          <img src="~/assets/images/developer.svg" alt="Developer Light" />
        </div>
      </section>
    </div>
    <About />
    <transition name="fade">
      <Skils />
    </transition>
    <Portfolio />
  </div>
</template>
<script>
import "~/assets/css/index.css"
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      toggle: false
    };
  },
  computed: {
    ...mapGetters(["modals", "AllData"]),
  },
  methods: {
    ...mapMutations(["MANAGE_MODAL"]),
    ...mapActions(["GetData"]),

  },
  mounted() {
    this.toggle = !this.toggle;
    if (process.client) {
      this.GetData(["AllProjects"]);
    }
    
  },
}
</script>

<style>
</style>