#footer
    width: 100%
    background: #e8d58c
    padding: 115px 0 124px
    ._cont_small
        max-width: 340px
        .title
            margin-bottom: 20px

        .info
            font-size: 18px
            line-height: 22px
            text-align: center
            color: #070707
            margin-bottom: 30px
        button
            margin-bottom: 86px
        ._grid
            grid-template-columns: repeat(auto-fill, minmax(40px, 1fr))
            grid-gap: 50px
            margin-bottom: 45px
            img
                display: block
                width: 40px
                height: 40px
                cursor: pointer
        .info-soc
            width: fit-content
            margin: 0 auto
            font-size: 14px
            line-height: 17px
            text-align: center
            color: #828282
