#header
    position: fixed
    top: 0
    left: 0
    z-index: 10
    width: 100vw
    height: fit-content
    background: #212121d3

    color: white !important
    overflow: hidden
    backdrop-filter: blur(15px)
    #desktop_header
        margin: 0 auto
        justify-content: space-between
        align-items: center
        height: 90px
        img.logo
            width: 200px

        span.nav-link
            cursor: pointer
            width: fit-content
            display: inline-block
            font-size: 18px
            line-height: 22px
            color: white
            transition: all .3s ease-in-out
        img.contact
            width: 30px
            height: 30px
        span:hover
            color: white
        ._flex
            width: fit-content
            align-items: center
            gap: 5px
    a
        text-decoration: none
        color: white
        font-weight: 700
        position: relative
    a::before
        content: ''
        background-color: #e8d68c
        position: absolute
        left: 0
        bottom: 3px
        width: 100%
        height: 8px
        z-index: -1
        transition: all .3s ease-in-out
    a:hover
        span
            color: white
    a:hover::before
        bottom: 0
        height: 100%
    a:nth-child(1)::before
        height: 0
        width: 0
    a:nth-child(1):hover::before
        bottom: 0
        height: 0px
 
