
#index-page
    background: #e8d58c
    #top
    ._cont
        padding-top: 90px
        ._flex
            padding-top: 40px
            border-top: 1px solid #828282
            align-items: center
            justify-content: space-between

            .title
                font-size: 47.3392px
                line-height: 59px
                color: #070707
                font-weight: 600
            .about
                font-size: 18px
                line-height: 1.5em
                color: #070707
                width: fit-content
                text-align: left
            .lang
                width: fit-content
                height: fit-content
                transform: rotate(-90deg)
                font-size: 15px
                line-height: 20px
                cursor: pointer
            .burger
                width: 33px
                height: 19px
                display: none
        #mobile_header
            height: 90px
            justify-content: space-between
            align-items: center
            display: none
        .logo
            width: 165px
            height: 165px
            display: block
        .burger
            display: block
            width: 30px
            height: 16px
    #about
        width: 100%
        height: fit-content
        padding: 100px 0 70px
        background: #212121
        color: white !important
        div.about-cont
            max-width: 485px
            margin: 0 auto
            text-align: center
            .title
                font-size: 34px
                line-height: 42px
                text-align: center
                color: white !important

                margin-bottom: 17px
            .info
                font-size: 18px
                line-height: 22px
                text-align: center
                color: white !important

            .info-center
                margin: 35px 0
    #skils
        width: 100%
        height: fit-content
        padding: 110px 0 110px
        background: #e8d58c

        .title
            margin-bottom: 70px
        p
            text-align: center
            margin-bottom: 83px
        ._grid
            display: flex !important
            justify-content: center
            gap: 10px
            flex-wrap: wrap

            // grid-template-columns: repeat(auto-fill, minmax(166px, 1fr))
            .card
                animation: load 1s
                cursor: pointer
                display: flex
                flex-direction: column
                align-items: center
                width: 166px
                height: 206px
                text-align: center
                @keyframes load
                    from
                        opacity: 0

                    to
                        opacity: 1

                .icon
                    width: 90px
                    height: 88px
                    object-fit: cover
                    display: block
                    margin: 0 auto
                    margin-bottom: 27px
                p
                    font-size: 14px
                    line-height: 17px
    #portfolio
        width: 100%
        height: fit-content
        background: #212121
        color: white !important
        padding: 100px 0 30px
        .title
            text-align: center
            font-size: 34px
            line-height: 42px
            color: white
            margin-bottom: 47px
        p
            text-align: center
            margin-bottom: 83px
        ._flex
            display: flex
            flex-direction: column
            .item
                max-width: 100%
                margin-bottom: 44px
                img.portfolio-pic
                    width: 100%
                    height: 250px
                    border-radius: 10px
                    object-fit: cover
                    object-position: left
                .portfolio-link
                    margin: 44px 0 100px
                    font-size: 18px
                    line-height: 22px
                    text-align: center
                    text-decoration-line: underline
                    color: white
