*
    font-family: "Cera Pro", sans-serif
    padding: 0
    margin: 0
    box-sizing: border-box
body
    overflow-x: hidden
._cont
    max-width: 960px
    margin: 0 auto
    padding: 0 10px
._cont_small
    max-width: 780px
    margin: 0 auto
    padding: 0 10px
._flex
    display: flex
._grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr))
.title
    text-align: center
    font-size: 34px
    line-height: 42px
    color: #070707
    font-weight: 600

button
    min-width: 180px
    padding: 6px 25px
    color: white
    display: block
    margin: 0 auto
    border: none
    outline: none
    cursor: pointer
    background-color: black
    border-radius: 10px
.fade-up-down-enter-active
    transition: all 0.3s ease

.fade-up-down-leave-active
    transition: all 0.3s ease

.fade-up-down-enter
    transform: translateY(10%)
    opacity: 0

.fade-up-down-leave-to
    transform: translateY(10%)
    opacity: 0

.fade-enter-active
    -webkit-transition: opacity 2s
    transition: opacity 0.3s

.fade-leave-active
    transition: opacity 0.3s

.fade-enter,
.fade-leave-to
    opacity: 0
